// Typsnitt
$font-primary: "Raleway", sans-serif;
$font-secondary: "Libre Baskerville", serif;

$color-pink:#E87EA1;
$color-linen: #F7EFE5;
$color-buff: #D4A373;
$color-brown: #8A7F7A;

$desktop: 1000px;
