// Typsnitt
$font-primary: "Raleway", sans-serif;
$font-secondary: "Libre Baskerville", serif;

$color-pink: #e87ea1;
$color-pink-light: #fad4df;
$color-linen: #f7efe5;
$color-buff: #d4a373;
$color-brown: #8a7f7a;

$desktop: 1000px;
