@use "./global/variables.scss" as v;
@use "./global/mixins.scss" as m;

nav {
  @include m.flex(row, space-between, center);
  width: 100%;
  padding: 20px 5%;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  .nav-logo {
    @include m.flex();

    background-color: white;
    border-radius: 50%;
    padding: 8px;

    img {
      height: 50px;
      width: auto;
    }

    &:hover {
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
      transform: scale(1.1);
      transition: 0.3s ease;
    }
  }

  .nav-links {
    @include m.flex();

    gap: 5rem;

    width: 100%;
    margin: 0;
    padding: 0;
    margin-right: 3%;

    list-style: none;

    li a:hover {
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
      color: v.$color-pink; // Rosa färg ($color-pink) för hover-effekten
    }
  }

  a {
    font-family: v.$font-primary;
    font-size: 0.9rem;
    text-decoration: none;
    color: black;
  }
}
